*.o
**.~lock**

distro/root/.keys/key.bin

build/images/**/core/*
build/images/**/desktop/*
build/images/**/dev/*

mnt/core/*
mnt/desktop/*
mnt/dev/*
mnt/iso/*
mnt/nfs/*

sysroots/core/*
sysroots/dev/*
sysroots/desktop/*
sysroots/lib/*
sysroots/initrd/*

toolchain/*
repo/*
